


body{
    background: url(screen.jpg) no-repeat center/cover;
    backdrop-filter: blur(10px);
    height: 100vh;
    display: flex;
    align-items: center;
}
.container{
    width: 1180px;
    height:392px;
    background-color: white;
    border-radius: 15px;
    /* display: flex; */
    margin: auto;
    box-shadow: 2px 4px 10px 0px rgba(185, 1, 96, 1);
    
}
.center{
    margin-left: 100px;
}
.text{
    width:362px ;
    height:50px;
    border: 1px solid grey;
    border-radius: 10px;
    margin-top: 30px;
    padding-left: 10px;
    
}
.in{
    max-width: 750px;
    width: 100%;
    gap: 24px;
    display: flex;
   
    margin: auto;
   
}
.cbc{
    width:799px;
    height:81px;
    border: 1px solid grey;
    border-radius: 10px;
    margin-top: 20px;
    /* margin-left: 200px; */
    padding-left: 10px;
    

}
h2{
    margin-left: 450px;
}
button{
    width:179px;
    height:52px ;
    border: 1px solid;
    border-radius: 10px;
    font-size: 15px;
    margin-left: 450px;
    margin-top:50px;
    font-weight: 500;
    color: white;
    background: linear-gradient(90deg, rgba(185, 1, 96, 1)20%,  rgba(46, 49, 146, 1)80%);
}
@media (max-width:1200px){
    .container{
        max-width: 1024px;
        display: block;
        flex-wrap: wrap;
    }
  
    }
   
        
        
        @media (max-width:635px){
            .container{
                max-width: 576px;
                display: block;
                flex-wrap: wrap;
                flex-direction: column;
                
            }
           
            }
         @media (max-width:576px){
                .container{
                    max-width: 320px;
                    display: block;
                    flex-wrap: wrap;
                    flex-direction: column;
                    
                }
                
                }